<a href="https://colab.research.google.com/github/AakarshPatel/pytorch-heart-disease/blob/main/02_Data__Cleaning_and_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive') # Mount Google Drive to access files.

In [30]:
import pandas as pd # Import the pandas library for data manipulation.

In [31]:
data = pd.read_csv('/content/drive/MyDrive/heart_disease/processed.cleveland.data',header=None) # Load data using pandas.

In [32]:
data.rename(columns={0:'age',1:'sex',2:'cp',3:'trestbps',4:'chol',5:'fbs',
                     6:'restecg',7:'thalach',8: 'exang',9:'oldpeak',10:'slope',
                     11:'ca',12:'thal', 13:'num'},inplace=True) # Rename numerical column headers to more descriptive feature names for the heart disease dataset.

In [33]:
data = data[data['ca'] != '?'] # Remove rows where 'ca' column has '?' (missing values).
data = data[data['thal'] != '?'] # Remove rows where 'thal' column has '?' (missing values).

In [34]:
print("Unique values in 'ca' column:", data['ca'].unique()) # Display unique values in the 'ca' column.
print("Unique values in 'thal' column:", data['thal'].unique()) # Display unique values in the 'thal' column.

Unique values in 'ca' column: ['0.0' '3.0' '2.0' '1.0']
Unique values in 'thal' column: ['6.0' '3.0' '7.0']

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 297 entries, 0 to 301
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       297 non-null    float64
 1   sex       297 non-null    float64
 2   cp        297 non-null    float64
 3   trestbps  297 non-null    float64
 4   chol      297 non-null    float64
 5   fbs       297 non-null    float64
 6   restecg   297 non-null    float64
 7   thalach   297 non-null    float64
 8   exang     297 non-null    float64
 9   oldpeak   297 non-null    float64
 10  slope     297 non-null    float64
 11  ca        297 non-null    object
 12  thal      297 non-null    object
 13  num       297 non-null    int64
dtypes: float64(11), int64(1), object(2)
memory usage: 34.8+ KB

In [36]:
data['ca'] = data['ca'].astype(float) # Convert 'ca' column to float type.
data['thal'] = data['thal'].astype(float) # Convert 'thal' column to float type.

In [37]:
data.info() # Display data types after conversion to confirm changes.

<class 'pandas.core.frame.DataFrame'>
Index: 297 entries, 0 to 301
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       297 non-null    float64
 1   sex       297 non-null    float64
 2   cp        297 non-null    float64
 3   trestbps  297 non-null    float64
 4   chol      297 non-null    float64
 5   fbs       297 non-null    float64
 6   restecg   297 non-null    float64
 7   thalach   297 non-null    float64
 8   exang     297 non-null    float64
 9   oldpeak   297 non-null    float64
 10  slope     297 non-null    float64
 11  ca        297 non-null    float64
 12  thal      297 non-null    float64
 13  num       297 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 34.8 KB

In [38]:
data.shape

(297, 14)